<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static "css/Home.css" %}" type="text/css" media="all">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div id="top">
    <div id="top_c1">
        <img id="logo" src="{% static "img/logo.JPG" %}">
    </div>
    <div id="sel">
        <form action="">
            <input id="i_sel" type="text" placeholder="请输入关键词" autocomplete="on">
            <input id="b_sel" type="submit" value="">
        </form>
    </div>
    <div id="l_r">
        <a href="/login">登录</a>
        <br>
        <a href="/register">注册</a>
    </div>
</div>
<div id="list">
    <ul>
        <li class="nav"><a href="/home">首页</a></li>
        <li class="nav"><a href="/xuanhuan">玄幻小说</a></li>
        <li class="nav"><a href="/xianxia">仙侠小说</a></li>
        <li class="nav"><a href="/kehuan">科幻小说</a></li>
    </ul>
</div>
<div class="sort_book">
    <div class="sort_book_left">
        <div style="background-color: blue"><h2><a href="/xuanhuan">玄幻小说》》</a></h2></div>
        <ul class="no_mar">
                <li class="book_name">第一部小说</li>
                <li class="book_name">不知道该起什么名字</li>
                <li class="book_name">人生要喝酒</li>
        </ul>
        <ul class="no_mar">
                <li class="book_name">第一部小说</li>
                <li class="book_name">不知道该起什么名字</li>
                <li class="book_name">人生要喝酒</li>
        </ul>
        <ul class="no_mar">
                <li class="book_name">第一部小说</li>
                <li class="book_name">不知道该起什么名字</li>
                <li class="book_name">人生要喝酒</li>
        </ul>
    </div>
    <div class="sort_book_right">
        <div style="background-color: blue"><h2>玄幻推荐榜》》</h2></div>
        <ul class="no_mar">
            <li class="book_name2">1</li>
            <li class="book_name2">2</li>
            <li class="book_name2">3</li>
            <li class="book_name2">4</li>
            <li class="book_name2">5</li>
        </ul>
    </div>
</div>
<br />
<div class="sort_book">
    <div class="sort_book_left">
        <div style="background-color: blue"><h2>玄幻小说》》</h2></div>
        <ul class="no_mar">
                <li class="book_name">第一部小说</li>
                <li class="book_name">不知道该起什么名字</li>
                <li class="book_name">人生要喝酒</li>
        </ul>
        <ul class="no_mar">
                <li class="book_name">第一部小说</li>
                <li class="book_name">不知道该起什么名字</li>
                <li class="book_name">人生要喝酒</li>
        </ul>
        <ul class="no_mar">
                <li class="book_name">第一部小说</li>
                <li class="book_name">不知道该起什么名字</li>
                <li class="book_name">人生要喝酒</li>
        </ul>
    </div>
    <div class="sort_book_right">
        <div style="background-color: blue"><h2>玄幻推荐榜》》</h2></div>
        <ul class="no_mar">
            <li class="book_name2">1</li>
            <li class="book_name2">2</li>
            <li class="book_name2">3</li>
            <li class="book_name2">4</li>
            <li class="book_name2">5</li>
        </ul>
    </div>
</div>
<br />
<div class="sort_book">
    <div class="sort_book_left">
        <div style="background-color: blue"><h2>玄幻小说》》</h2></div>
        <ul class="no_mar">
                <li class="book_name">第一部小说</li>
                <li class="book_name">不知道该起什么名字</li>
                <li class="book_name">人生要喝酒</li>
        </ul>
        <ul class="no_mar">
                <li class="book_name">第一部小说</li>
                <li class="book_name">不知道该起什么名字</li>
                <li class="book_name">人生要喝酒</li>
        </ul>
        <ul class="no_mar">
                <li class="book_name">第一部小说</li>
                <li class="book_name">不知道该起什么名字</li>
                <li class="book_name">人生要喝酒</li>
        </ul>
    </div>
    <div class="sort_book_right">
        <div style="background-color: blue"><h2>玄幻推荐榜》》</h2></div>
        <ul class="no_mar">
            <li class="book_name2">1</li>
            <li class="book_name2">2</li>
            <li class="book_name2">3</li>
            <li class="book_name2">4</li>
            <li class="book_name2">5</li>
        </ul>
    </div>
</div>
</body>
</html>