<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static "css/login.css" %}" type="text/css" media="all">

<head>
    <meta charset="UTF-8">
    <title>Memo</title>
</head>
<body id="bg">
<div id="u_div">
    <form action="/update/{{ uid }}" method="post">
        {% csrf_token %}
        <span class="prompt">昵称：</span><input name="name" class="u_msg" type="text" />
        <span class="br"></span>
        <span class="prompt">账号：</span>{{ uid }}
        <span class="br"></span>
        <span class="prompt">简介：</span><input name="pw" class="u_msg" type="password" />
        <span class="br"></span>
        <span class="prompt">性别:</span>&emsp;<select name="sex">
        <option value="男">男</option>
        <option value="女">女</option>
    </select>
        <span class="br"></span>
        <input class="btn" type="submit" value="修改信息"/>

    </form>
    <a id="bh" href="/home">返回主页</a>
</div>
</body>
</html>